include jade/AdaptiveSlider

doctype html
html
    head
        title Adaptive slider
        meta(charset="utf-8")
        link(rel="styleSheet" href="css/styles.css")
    body

        //- Container for slider positioning
        div.slider-layout
            // - var images = ["images/slider-image-1.jpg", "images/slider-image-2.jpg", "images/slider-image-3.jpg", "images/slider-image-4.jpg"];
            +AdaptiveSlider("slider-1", 4, {controls: "false", autoswitch: "true"})

        div.slider-layout
            +AdaptiveSlider("slider-2", 5, {autoswitch: "false"})

        script(src="//code.jquery.com/jquery-2.1.4.min.js" defer)
        script(src="js/app.js" defer)
        script(src="js/slider.js" defer)
